
IO_LOC  "clk27M" 52;
IO_PORT "clk27M" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "BTN[0]" 4;
IO_PORT "BTN[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "BTN[1]" 3;
IO_PORT "BTN[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// UART
IO_LOC  "UART_TXD" 17;
IO_PORT "UART_TXD" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "UART_RXD" 18;
IO_PORT "UART_RXD" IO_TYPE=LVCMOS33 PULL_MODE=UP;
// HDMI
IO_LOC "tmds_d_p[0]" 71,70;
IO_PORT "tmds_d_p[0]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p[1]" 73,72;
IO_PORT "tmds_d_p[1]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p[2]" 75,74;
IO_PORT "tmds_d_p[2]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_clk_p" 69,68;
IO_PORT "tmds_clk_p" PULL_MODE=NONE DRIVE=8;
/*
// PS2_KB
IO_LOC  "ps2_kb_clk" 25;
IO_PORT "ps2_kb_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "ps2_kb_dat" 26;
IO_PORT "ps2_kb_dat" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// SD
IO_LOC  "mmc_ncs" 38;
IO_PORT "mmc_ncs" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "spi_clk" 36;
IO_PORT "spi_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "spi_mosi" 37;
IO_PORT "spi_mosi" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "spi_miso" 39;
IO_PORT "spi_miso" IO_TYPE=LVCMOS33 PULL_MODE=UP;
*/
/*
// GPIO
IO_LOC  "gpio[4]" 29;
IO_PORT "gpio[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "gpio[3]" 28;
IO_PORT "gpio[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "gpio[2]" 27;
IO_PORT "gpio[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "gpio[1]" 26;
IO_PORT "gpio[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "gpio[0]" 25;
IO_PORT "gpio[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
*/

// DACout
IO_LOC  "DACout" 30;
IO_PORT "DACout" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

// LED
IO_LOC  "LED[5]" 16;
IO_LOC  "LED[4]" 15;
IO_LOC  "LED[3]" 14;
IO_LOC  "LED[2]" 13;
IO_LOC  "LED[1]" 11;
IO_LOC  "LED[0]" 10;
/*
// VGA
IO_LOC  "vga_ho" 25;
IO_PORT "vga_ho" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "vga_vo" 26;
IO_PORT "vga_vo" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "vga_ro" 27;
IO_PORT "vga_ro" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "vga_go" 28;
IO_PORT "vga_go" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "vga_bo" 29;
IO_PORT "vga_bo" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
*/
/*
			 ---	  
		38	|	|	63
		37	 ---	86
		36			85
		39			84
	h	25			83
	v	26			82
	R	27			81
	G	28			80
	B	29			79
		30			77
		33			76
		34			75
		40			74
		35			73
		41			72
		42			71
		51			70
		53			  5V
		54			48
		55			49
		56			31
		57			32
		68			  GND
		69 |	  |	  3V3
		   |	  |
*/
