
IO_LOC  "clk27M" 52;
IO_PORT "clk27M" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "BTN[0]" 4;
IO_PORT "BTN[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "BTN[1]" 3;
IO_PORT "BTN[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// UART
IO_LOC  "uart1_txd" 17;
IO_PORT "uart1_txd" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "uart1_rxd" 18;
IO_PORT "uart1_rxd" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// SD
IO_LOC  "SD_CS" 38;
IO_PORT "SD_CS" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "SD_SCK" 36;
IO_PORT "SD_SCK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "SD_CMD" 37;
IO_PORT "SD_CMD" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "SD_DAT0" 39;
IO_PORT "SD_DAT0" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// LED
IO_LOC  "LED[5]" 16;
IO_LOC  "LED[4]" 15;
IO_LOC  "LED[3]" 14;
IO_LOC  "LED[2]" 13;
IO_LOC  "LED[1]" 11;
IO_LOC  "LED[0]" 10;
// Check Port out
//IO_LOC  "CP[5]" 30;
//IO_PORT "CP[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
//IO_LOC  "CP[4]" 29;
//IO_PORT "CP[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
//IO_LOC  "CP[3]" 28;
//IO_PORT "CP[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
//IO_LOC  "CP[2]" 27;
//IO_PORT "CP[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
//IO_LOC  "CP[1]" 26;
//IO_PORT "CP[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
//IO_LOC  "CP[0]" 25;
//IO_PORT "CP[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
