
IO_LOC  "CLK_27M" 52;
IO_PORT "CLK_27M" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "RESET_n" 4;
IO_PORT "RESET_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "USER_n" 3;
IO_PORT "USER_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// UART
IO_LOC  "txd1" 17;
IO_PORT "txd1" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "rxd1" 18;
IO_PORT "rxd1" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// SD
IO_LOC  "SD_CS" 38;
IO_PORT "SD_CS" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "SD_SCK" 36;
IO_PORT "SD_SCK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "SD_CMD" 37;
IO_PORT "SD_CMD" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "SD_DAT0" 39;
IO_PORT "SD_DAT0" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// LED
IO_LOC  "LED[5]" 16;
IO_LOC  "LED[4]" 15;
IO_LOC  "LED[3]" 14;
IO_LOC  "LED[2]" 13;
IO_LOC  "LED[1]" 11;
IO_LOC  "LED[0]" 10;
// GPIO
IO_LOC  "GPIO[5]" 30;
IO_LOC  "GPIO[4]" 29;
IO_LOC  "GPIO[3]" 28;
IO_LOC  "GPIO[2]" 27;
IO_LOC  "GPIO[1]" 26;
IO_LOC  "GPIO[0]" 25;
